/* DEVELOPER Daniel Reis, IS117-004, Spring 2024 */
/*Main Page Css*/
/*Carousel Css*/
.carousel{
    width:100% !important;
}
.caro1{
    width: 70% !important;
}
.carousel img{
    height: 30em;
}
/*Cards Css*/
#cards img{
    width:30em;
    height:25em;
    margin: 0 auto;

}
#cards{
    padding-bottom: 35px;
}
/* Contact Page Css*/
/*imgs for contact*/
.all-nav-links {
    margin-left: auto !important;
    margin-right: 16px;
}
.navbar-toggler {
    margin-left: auto !important;
    margin-right: 16px;
}
.contact{
    height: 50px;
    width:50px;
}
/*Icons Css*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 66px !important;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
/*Position Pages Css*/
.img1{
    margin-bottom: 5px;
}
div .images img {
    float: right;
    margin-left: 3%;
}
div .images .img2 {
    clear: right;
    padding-bottom: 35px;
}
.players-content {
    margin: 2% 2% 10% 2%;
}


/* Universal Css*/
/*Footer Css*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 85%;
}
.footer .row div {
    width: 32%;
    padding: 0 20px;
}
.footer .row div a {
    text-decoration: none;
}
/*media query*/
@media only screen and (max-width: 1503px){
    #cards img{
        width:25em;
        height:25em;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 1280px){
    #cards img{
        width:20em;
        height:25em;
        margin: 0 auto;

    }
}
@media only screen and (max-width: 1030px){
    #cards img{
        width:17em;
        height:25em;
        margin: 0 auto;

    }
}
@media only screen and (max-width: 998px){
    #contact{
        margin-left: 66.6666666667% !important;
    }
}
@media only screen and (max-width: 956px){
    #cards {
      display:block !important;
    }
    #cards img{
        width:100%;
    }
}
@media only screen and (max-width: 717px){
   .left{
       margin-left: 0;
   }
}
@media only screen and (max-width: 560px) {
    .footer {
        font-size: 70%;
    }
    .footer .row div {
        padding: 0 6px;
    }

}

@media only screen and (max-width: 460px) {
    .footer {
        font-size: 65%;
    }
    .footer .row div {
        padding: 0 4px;
    }
}

@media only screen and (max-width: 435px) {
    .footer {
        font-size: 60%;
    }
    .footer .row div {
        padding: 0 3px;
    }
}